.header{
    background: var(--main-color);
    height: var(--header-height);
}
.style_full{
    width: 100%;
    background-color: var(--white-rgba);
    border: 1px solid white;
}
/* NAVBAR */
.nav_bar{
    height: var(--header-navbar);
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
}
.nav_bar-item-left, .nav_bar-item-right{
    list-style: none;
    display: flex;
}
li{
    padding: 10px;
}
i{
    padding: 0 5px;
}
.navbar-separate1::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #ffffff;
    height: 40px;
    right: auto;
    top: 2.5%;
    transform: translateY(-50%);
}
.navbar-separate2::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #000000;
    height: 18px;
    right: auto;
    top: 2.5%;
    transform: translateY(-50%);
}




/* HEADER BODY */
.header_body{
    height: var(--header-with-search);
    display: flex;
    justify-content: space-between;
}

/* LOGO */
.image_logo{
    width: 240px;
}
.logo{
    width: 80px;
    float: right;
    filter: drop-shadow(10px 10px 7px #FFFFFF);
    margin-top: 15px;
} 

/* SEARCH */
 .search{
    margin-top: 30px;
    width: 560px;
    height: 36px;
    background-color: var(--white-rgba);
    border-radius: 10px;
}
.icon_search{
    font-size: 1.5rem;
    padding: 10px 15px;
}
.input_search{
    font-size: 1.5rem;
    float: right;
    height: 100%;
    width: 90%;
    border: none;
    border-radius: 0px 10px 10px 0px;
} 

.header_heard_cart{
    display: flex;
} 
.icon_header_body{
    font-size: 3rem;
    margin: 35px 15px;
}


/* TOOLBAR */
.toolbar_list{
    list-style: none;
    display: flex;
    height: var(--header-toolbar);
    align-items: center;
}
.toolbar_list > li > a{
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
    padding: 10px 37.5px;
}
.toolbar_list > li{
    height: 100%;
    display: flex;
    align-items: center;
}
.toolbar_list > li:hover{
    background: rgba(255, 255, 255, 0.20);
}




.container_address{
    font-size: 1.5rem;
    padding: 15px 0;
}
.container_address a{
    text-decoration: none;
    color: black;
}

.u-kt-child {
    background: linear-gradient(-0.85deg, #fe5454, rgba(254, 84, 84, 0));
    width: 100%;
    height: 214px;
    display: flex;
}
.text{
    height: 100%;
    margin-left: 150px;
    transform: translateY(35%);
}
.qun-o, 
.qun-o-ty{
    font-size: 32px;
    margin: 10px;
}

.qun-o-ty {
    top: 427px;
    font-size: 16px;
    display: inline-block;
    width: 431px;
}

.u-kt-item {
    width: 418px;
    height: 214px;
}
.u-kt-inner {
    width: 400px;
    height: 214px;
}




.container_body{
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
}
.design_color{
    width: 362px;
    height: 155px;
    border-radius: 15px;
    border: 1px solid #FE5454;
    background: linear-gradient(180deg, rgba(254, 84, 84, 0.00) 0%, #FE5454 98.06%);
}
.design_color > h1{
    margin: 10px 0 0 10px;
}
.design_color-row{
    display: flex;
    padding-top: 8px;
}
.icon_check{
    color: white;
    font-size: 1.5rem;
}
.cl1, .cl2, .cl3, .cl4, .cl5, .cl6, .cl7, .cl8, .cl9, .cl10, .cl11, .cl12, .cl13, .cl14{
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background: #E11D1D;
    margin: 8px;
}
.cl1{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cl2{
    background-color: #E11D1D;
}
.cl3{
    background-color: #2F88FF;
}
.cl4{
    background-color: #E8EC17;
}
.cl5{
    background-color: #FFF;
}
.cl6{
    background-color: #6AAB42;
}
.cl7{
    background-color: #9747FF;
}
.cl8{
    background-color: rgba(0, 0, 0, 0.50);
}
.cl9{
    background-color: rgba(0, 0, 0, 0.72);
}
.cl10{
    background-color: #E1A5DF;
}
.cl11{
    background-color: #12E7CD;
}
.cl12{
    background-color: #BACD4D;
}
.cl13{
    background-color: #E3650A;
}
.cl14{
    background-color: #EF2190;
}


.design_library-row{
    display: flex;
    width: 362px;
    justify-content: space-between;
}
.col{
    width: 73px;
    height: 75px;
    border-radius: 15px;
    border: 1px solid var(--main-color);
    background-color: white;
    box-shadow: 0px 0px 10px;
    display: grid;
    place-content: center;
    margin: 15px 0;
}
.col i, .col img{
    font-size: 2.5rem;
    width: 60px;
    height: 45px;
    display: grid;
    place-items: center;
}
.col p{
    text-align: center;
}
.col:hover{
    background-color: rgba(254, 84, 84, 0.50);
    cursor: pointer;
}
.col:active{
    box-shadow: none;
}
.btn-done{
    width: 100%;
    height: 80px;
    margin-top: 40px;
    font-size: 5rem;
    background-color: white;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px red;
}
.btn-done:hover{
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}
.btn-done:active{
    box-shadow: none;
}

.side img{
    height: 120px;
    border: 1px solid var(--main-color);
}




/* FOOTER */
.footer{
    background: rgba(51, 51, 51, 0.10);
    width: 100%;
    height: 426px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
  .footer_left, .footer_middle1, .footer_middle2, .footer_right{
    margin-left: 40px;
    margin-right: 40px;
  }
  .follow{
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.50);
    width: 450px;
    height: 125px;
    margin-left: 30px;
    transform: translateY(30%);
  }
  .follow > b{
    margin-left: 25px;
    font-size: 2rem;
  }
  .footer_email{
    width: 331px;
    height: 40px;
    border: none;
    margin-left: 25px;
    margin-top: 10px;
  }
  .send{
    margin-left: 20px;
    width: 58px;
    height: 25px;
    background: #fe5454;
    border: none;
    border-radius: 10px;
    color: white;
  }
  .footer_email:focus {
    outline: none;
    border: 1px solid #fd5353;
  }
  
  
  .language b{
    margin-left: 55px;
    font-size: 20px;
  }
  .language{
    transform: translateY(100%);
  }
  .footer_language{
    width: 331px;
    height: 25px;
    border: none;
    margin-left: 55px;
    margin-top: 10px;
    position: relative;
  }
  .footer_language:focus {
    outline: none;
    border: 1px solid #fd5353;
  }
  .language_select{
    width: 410px;
    height: 36px;
  }
  .icon-chevron{
    position: absolute;
    margin-left: -15px;
    top: 35px;
  }
  
  

  .service_footer{
    list-style: none;
    padding: 0;
  }
  .service_item{
    font-size: 1.8rem;
    height: 35px;
  }
  .service_item td{
    margin-right: 20px;
  }
  .footer_middle1 h2, .footer_middle2 h2, .footer_right h2{
    margin: 10px 0;
  }
