@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    /* background-color: #f7f8f9; */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.auth-container {
    max-width: 1530px;
    height: 575px;
    margin: 0px;
    /* border-radius: 15px; */
    /* box-shadow: 1px 2px 8px 8px #ccc3; */
    display: flex;
    /* margin-top: 4rem; */
    overflow: hidden;
    justify-content:space-between;
}

.auth-image {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-image: url(/PROJECT_HTML_CSS_JS/img/vector.jpg);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-action-right {
    width: 650px;
}

.login-form{
    width: 480px;
    padding-left: 30px;
}
.auth-form-outer {
    padding: 2rem 9rem;
    display: block;
}

h2.auth-form-title {
    text-align: center;
    color: #fd5353;
    font-size: 1.7rem;
}

.auth-form-outer input {
    border: 1px solid #56aef485;
    margin-bottom: 1rem;
    width: 100%;
    padding: 13px;
    border-radius: 5px;
    box-sizing: border-box;
    background: #f7f8f97a;
}

.auth-form-outer input:hover,
.auth-form-outer input:focus {
    outline: none;
    box-shadow: none;
}

.auth-form-outer input:focus {
    background-color: #fff;
    border: 1px solid #fd5353;
}


input.auth-form-input::placeholder {
    color: #0f82dd4d;
}



  input[type="checkbox"] {
    display: none;
}
  label input[type="checkbox"] ~ i.fa.fa-square-o{
      color: #fd5353;    display: inline;
  }
  label input[type="checkbox"] ~ i.fa.fa-check-square-o{
      display: none;
  }
  label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
      display: none;
  }
  label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
      color: #fd5353;    display: inline;
  }
  label:hover input[type="checkbox"] ~ i.fa {
  color: #fd5353;
  }
  
  div[data-toggle="buttons"] label.active{
      color: #fd5353;
  }
  
.auth-wrapper a {
    text-decoration: none;
    color: #fd5353;
}

a.auth-btn-direct {
    flex: 1;
    border: 1px solid #fd5353;
    text-align: center;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    font-weight: 500;
    margin-left: 5px;
}

input.auth-submit {
    background: #fe5454;
    border: none;
    width: auto;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    flex: 1;
    margin-right: 5px;
    cursor: pointer;
}

input.auth-submit:focus {
    background: #fe5454;
    color: #fff;
}

input.auth-submit:hover {
    box-shadow: 3px 3px 7px 2px #f443362b;
}
a.auth-btn-direct:hover {
    box-shadow: -2px 3px 0px 0px #F44336;
}

.auth-external-list ul li a:hover {
    color: #fd5353;
    border-color: #fd5353;
}

.footer-action {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    box-sizing: border-box;
    overflow: hidden;
}

.auth-external-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.auth-external-list ul li {
    float: left;
}

.auth-external-list {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.auth-external-list ul li a {
    width: 26px;
    height: 26px;
    margin: 7px;
    display: block;
    text-align: center;
    line-height: 27px;
    border-radius: 50%;
    border: 1px solid #00000078;
    color: #555;
}

p.auth-sgt {
    text-align: center;
}

.auth-forgot-password a {
    text-align: center;
    display: block;
    border-top: 1px dashed #f4433633;
    padding: 20px;
    margin-top: 20px;
}


.input-icon {
    position: relative;
 }

.input-icon input {
   padding-right: 4rem;
}

.input-icon i {
    position: absolute;
    top: 38%;
    right: 1.2rem;
    transform: translateY(-50%);
    color: #2196f3b5;
    cursor: pointer;
}

/* responsive
@media screen and (max-width: 720px) {
    body {
        background-color: #fff;
    }
    .auth-container {
        max-width: 100%;
        max-height: 100vh;
        margin: 0 auto;
        background: #fff;
        border-radius: 0;
        box-shadow: none;
        display: block;
        margin-top: 0;
    }
    .auth-action-left {
        width: 100%;
    }

    .auth-action-right {
        display: none;
    }
} */




/* LOGO */
.bg_logo{
    width: 335px;
    height: 321px;
    background: white;
    border-radius: 358px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 500px;
    height: 440px;
    transform: translateX(3%);
}

/* FOOTER */
.footer{
    background: rgba(51, 51, 51, 0.10);
    width: 100%;
    height: 170px;
    display: flex;
}
.footer_left, .footer_middle1, .footer_middle2, .footer_right{
    margin-left: 70px;
    margin-right: 70px;
}
.follow{
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.50);
    width: 450px;
    height: 70px;
    margin-left: 30px;
    transform: translateY(30%);
}
.follow b{
    margin-left: 25px;
    font-size: 24px;
}
.footer_email{
    width: 331px;
    height: 25px;
    border: none;
    margin-left: 25px;
}
.send{
    margin-left: 20px;
    width: 58px;
    height: 25px;
    background: #fe5454;
    border: none;
    border-radius: 10px;
    color: white;
}
.footer_email:focus {
    outline: none;
    border: 1px solid #fd5353;
}


.language b{
    margin-left: 55px;
    font-size: 20px;
}
.language{
    transform: translateY(50%);
}
.footer_language{
    width: 331px;
    height: 25px;
    border: none;
    margin-left: 55px;
    margin-top: 10px;
    position: relative;
}
.footer_language:focus {
    outline: none;
    border: 1px solid #fd5353;
}
.language_select{
    width: 410px;
    height: 36px;
}
.icon-chevron{
    position: absolute;
    margin-left: -15px;
    top: 45px;
}


.service{
    list-style: none;
}
.service{
    padding: 0;
}
.service_item{
    font-size: 1.1rem;
    height: 25px;
}
td{
    margin-right: 20px;
}
h2{
    margin: 10px 0;
}